
html, body, #root, .App {
  height: 100%;
  margin: 0;
  background-color: #e4f3f9;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.dashPartition {
  width: 95%;
  margin: auto;
  border-top: 1px solid black;
}

.navBar {
  width: 95%;
  margin: auto;
}

/** Home Page Style */
.titleContainer {
  background-color: inherit;
  padding: 80px 0;

}

.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: black;
}

.subTitle {
  text-align: center;
  font-size: small;
}

.spacer {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  margin: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sideBySide {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas: "left middle right";
}

.sentense1 {
  grid-area: left;
}

.sentense2 {
  grid-area: middle;
}

.sentense3 {
  grid-area: right;
}

.inside {
  margin: 10px;
  border: 1px solid gray;
  background-color: #def4ff;
  color: gray;
  padding: 20px;
}

.inside:hover {
  background-color: #c8def1;
  color: black;
}

.spacer2 {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  background-color: white;
  margin-top: 20px;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}

.chicken {
  grid-area: left;
}

.content {
  grid-area: right;
  padding: 20px;
  margin: 0;
  line-height: 3;
  background-color: black;
}

.bold {
  font-weight: bold;
  color: white;
  font-size: 30px;
}
/** End Home Page Style */

/** Diet Page Style */
.dietContainer {
  column-gap: 10px;
  padding: 10px 0;
}

.calorieCounter {
  grid-area: left;
  display: grid;
  grid-template-rows: 20px auto 100px;
  grid-template-areas:
    "total"
    "meals"
    "form";
  border: 1px solid black;
  padding: 10px;
  height: 400px;
}

.total {
  grid-area: total;
  border-bottom: 1px solid black;
}
.meals {
  grid-area: meals;
  /* display: grid;
  grid-template-rows: 20px 1fr;
  grid-template-areas:
    "mealList" "filler"; */
}

.meal {
  /* grid-area: mealList; */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "mealName amount edit";
}

.mealName {
  grid-area: mealName
}

.amount {
  grid-area: amount;
  border-left: 1px solid black;
}

.editMealButton {
  grid-area: edit;
}

.mealForm {
  grid-area: form;
}

input {
  width: 100%;
  box-sizing: border-box;
}

.recipes {
  grid-area: right;
  border: 1px solid black;
  padding: 10px;
}

.recipeCard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "image info";
  margin: 5px;
  border: 1px solid black;
}

.recipeImage {
  grid-area: image;
  width: 80px;
}

.recipeInfo {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "name name"
    "calories button";
}

.recipeName {
  grid-area: name;
}

.recipeCalories {
  grid-area: calories;
}

.addRecipeCaloriesButton {
  grid-area: button;
}

/* End Diet Page Style */

nav {
  background-color: inherit;
  overflow: hidden;
}

.logo {
  float: left;
  padding: 10px;
}

.navLink {
  color: inherit;
  margin-top: 30px;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navLink:hover {
  color: black;
}

.footer {
  background-color: white;
  color: black;
  padding: 30px;
  font-weight: bold;
  font-size: large;
  /* position: fixed;
  bottom: 0px; */
}