.calendarDay {
  height: 35px;
  width: 35px;
  border: 1px solid black;
}

.calendarWeek {
  display: flex;
  width: fit-content;
}

.calendarWeeks {
  width: fit-content;
  border: 1px solid black;
  margin: auto;
}

.today {
  color: red;
}

.month {
  border: 1px solid black;
}

.selectedDate {
  color: blue;
}