/** Diet Page Style */
@import './variables';

.dietContainer {
  column-gap: 10px;
  padding: 10px 0;
  width: 95%;
  margin: auto;
  border-top: 1px solid black;
}


.calorieDisplay {
  grid-area: left;
  border: 1px solid black;
  height: 420px;
}

.calorieCounter {
  display: grid;
  grid-template-rows: 40px auto 120px;
  grid-template-areas:
    "interface"
    "meals"
    "form";
}

.calorieInterface {
  grid-area: interface;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.calorieSets {
  grid-area: meals;
  overflow-y: scroll;
  padding: 10px;
  background-color: white;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.history {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 2;
  grid-row-end: span 4;
}

.calorieSets::-webkit-scrollbar {
  display: none;
}

.calorieSet {
  padding: 5px;
  margin: 5px;
  background-color: $mainColor;
  border: 2px solid gray;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "mealName amount";

  &:hover {
    background-color: $mainColorDark;
    color: black;
  }
}

.calorieTitle {
  grid-area: mealName;
  text-align: center;
}

.calorieAmount {
  grid-area: amount;
  padding-left: 5px;
  border-left: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setButton {
  height: fit-content;
  visibility: hidden;
  cursor: pointer;
  &:hover {
    opacity: 50%;
  }
}

.calorieForm {
  grid-area: form;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.textInput {
  width: 100%;
  box-sizing: border-box;
}

.recipes {
  grid-area: right;
  border: 1px solid black;
  padding: 10px;
}

.recipeCard {
  margin: 5px;
  border: 1px solid black;
}

.recipeImage {
  height: 10vw;
  width: 15vw;
  float: left;
  margin-right: 5px;
}

.recipeName {
  height: calc(10vw - 10px);
  padding: 5px;
}

.addRecipeCaloriesButton {
  width: 15vw;
}

/* End Diet Page */