/** Home Page Style */

.homeContainer {
  width: 95%;
  margin: auto;
}

.titleContainer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  background-color: inherit;
  padding: 80px 0;

}

.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: black;
}

.subTitle {
  text-align: center;
  font-size: small;
}

.spacer {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  margin: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sideBySide {
  display: flex;
  justify-content: space-evenly;
}

.inside {
  width: 200px;
  text-align: center;
  border: 1px solid gray;
  background-color: #def4ff;
  color: black;
  font-size: large;
  padding: 10px;
}

.largeNumber {
  font-size: larger;
}

.spacer2 {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  background-color: white;
  margin-top: 20px;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}

.chicken {
  grid-area: left;
  object-fit: cover;
}

.content {
  grid-area: right;
  padding: 20px;
  margin: 0;
  line-height: 3;
  background-color: black;
}

.bold {
  font-weight: bold;
  color: white;
  font-size: 30px;
}
/** End Home Page Style */
