/** Home Page Style */
.homeContainer {
  width: 95%;
  margin: auto;
}

.titleContainer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  background-color: inherit;
  padding: 80px 0;
}

.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: black;
}

.subTitle {
  text-align: center;
  font-size: small;
}

.spacer {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  margin: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sideBySide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.inside {
  width: 200px;
  text-align: center;
  border: 1px solid gray;
  background-color: #def4ff;
  color: black;
  font-size: large;
  padding: 10px;
}

.largeNumber {
  font-size: larger;
}

.spacer2 {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  background-color: white;
  margin-top: 20px;
}

.split {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "left right";
}

.chicken {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  padding: 20px;
  margin: 0;
  line-height: 3;
  background-color: black;
}

.bold {
  font-weight: bold;
  color: white;
  font-size: 30px;
}

/** End Home Page Style */
/** Diet Page Style */
.dietContainer {
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 10px 0;
  width: 95%;
  margin: auto;
  border-top: 1px solid black;
}

.calorieDisplay {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  border: 1px solid black;
  height: 420px;
}

.calorieCounter {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px auto 120px;
      grid-template-rows: 40px auto 120px;
      grid-template-areas: "interface" "meals" "form";
}

.calorieInterface {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: interface;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.calorieSets {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: meals;
  overflow-y: scroll;
  padding: 10px;
  background-color: white;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.history {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 4;
      grid-row-end: span 4;
}

.calorieSets::-webkit-scrollbar {
  display: none;
}

.calorieSet {
  padding: 5px;
  margin: 5px;
  background-color: #e4f3f9;
  border: 2px solid gray;
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "mealName amount";
}

.calorieSet:hover {
  background-color: #c8def1;
  color: black;
}

.calorieTitle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: mealName;
  text-align: center;
}

.calorieAmount {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: amount;
  padding-left: 5px;
  border-left: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setButton {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  visibility: hidden;
  cursor: pointer;
}

.setButton:hover {
  opacity: 50%;
}

.calorieForm {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.textInput {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recipeContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  border: 1px solid black;
  height: 70vh;
}

.recipeContainer .search {
  padding: 15px;
}

.recipeContainer .recipes {
  padding: 0 15px;
  overflow-y: scroll;
  height: 88%;
}

.recipeContainer .recipes .recipeCard {
  margin-bottom: 10px;
  background-color: white;
  color: black;
  padding: 10px;
}

.recipes::-webkit-scrollbar {
  display: none;
}

.recipeImage {
  height: 10vw;
  width: 15vw;
  float: left;
  margin-right: 5px;
}

.recipeName {
  height: calc(10vw - 10px);
  padding: 5px;
}

.addRecipeCaloriesButton {
  width: 15vw;
}

/* End Diet Page */
/* Exercise Page */
.exerciseContainer {
  width: 95%;
  margin: auto;
  border-top: 1px solid black;
}

.snippetDisplayContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 20px;
}

.snippetDisplay {
  white-space: nowrap;
  overflow: hidden;
  max-width: 870px;
  margin: auto;
}

.snippetDisplay .snippetContainer {
  display: inline-block;
  padding: 20px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: calc(33.3% - 40px);
}

.snippetDisplay .snippetContainer .snippet {
  width: 100%;
}

.videoContainer {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.videoContainer .video {
  border: none;
  width: 640px;
  height: 360px;
  margin: auto;
}

.exerciseCalorieContainer {
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin: 10px 0;
}

.calorieCalculator {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  border: 1px solid black;
  padding: 10px;
}

.calculatorForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  margin: auto;
  padding: 5px 0;
}

.calculatorField {
  margin-bottom: 10px;
}

h3 {
  text-align: center;
}

.warning {
  color: red;
}

/* End Exercise Page */
.calendarDay {
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.calendarWeek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.calendarWeeks {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid black;
}

.today {
  color: red;
}

.month {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.month .button {
  cursor: pointer;
}

.month .button:hover {
  font-weight: bold;
}

.selectedDate {
  color: blue;
}

.consultations {
  width: 95%;
  margin: auto;
  border-top: 1px solid black;
  color: black;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking {
  border: 2px solid gray;
  margin: 30px auto;
  width: 85%;
  background-color: burlywood;
}

.booking .header {
  border-bottom: 2px solid gray;
  height: 50px;
  font-size: 1.5rem;
  line-height: 50px;
  text-align: center;
}

.booking .formContainer {
  margin: 40px;
  border: 2px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking .formContainer .form {
  padding: 1rem;
}

.booking .formContainer .form label {
  display: block;
  text-align: left;
}

.booking .submitForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 40px;
}

.booking .submitForm .details {
  height: 50px;
  width: 40%;
  border: 2px solid gray;
}

.booking .submitForm .submit {
  height: 50px;
  width: 40%;
  border: 2px solid gray;
}

html, body, #root, .App {
  height: 100%;
  margin: 0;
  background-color: #e4f3f9;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navBar {
  width: 95%;
  margin: auto;
  overflow: visible;
}

nav {
  background-color: inherit;
  overflow: hidden;
}

.logo {
  float: left;
  padding: 10px;
}

.navLink {
  margin-top: 30px;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.navLink:hover {
  text-decoration: underline;
}

.active {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.footer {
  background-color: white;
  color: black;
  padding: 20px;
  font-weight: bold;
}

.copyButton {
  visibility: hidden;
  margin-left: 5px;
}

.footerLink {
  color: black;
}
/*# sourceMappingURL=style.css.map */